
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Covid Map</title>

    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Leaflet stuff-->  -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script type="text/javascript" src="../static/javascript/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="../static/media/usa_map.js"></script>


</head>

<body>
<div id="map"></div>
</body>

<script src="../static/javascript/leaflet.js"></script>

</html>